<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fileMapper">
	<insert id="insertFile">
		INSERT INTO files(seq,ori_name,sys_name,parent_seq)
		VALUES(seq_files.nextval(),ori_name=#{ori_name},sys_name=#{sys_name},parent_sql=#{parent_seq})
	</insert>
</mapper>
